@media only screen and (max-width: 600px) {
    form{
        width: 100vw !important;
        height: 100vh !important;
        overflow: hidden;
        padding:5px !important;
       
    }
    input{
        width:100% !important
    }
}
